<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="noreply@sharonomy.com">
        <specifiedPickupDirectory
          pickupDirectoryLocation="C:\tmp\testMailDrop"
        />
      </smtp>
      <!--smtp from="noreply@sonopaper.com" deliveryMethod="Network" >
                <network 
                    defaultCredentials="false" 
                    host="smtp.gmail.com" 
                    port="587" 
                    password="hj*iKjh7mkj(0kl,jkuytrg" 
                    userName="hostmaster@antrefemmes.com"
                    enableSsl="true"
                    />
      </smtp-->

    </mailSettings>

  </system.net>
</configuration>
